.react-datepicker {
    width: 100%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.react-datepicker__month-container {
    float: none;
}
.react-datepicker__month {
    margin-left: 0;
    margin-right: 0;
}
.react-datepicker__day-names,
.react-datepicker__week {
    display: flex;
    justify-content: center;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    flex-grow: 1;
}
